<template>
  <section>
    <div class="container">
      <div class="article">
        <div class="column is-10 is-offset-1">
          <div class="card">
            <div class="card-content">
              <figure class="image is-3by1">
                <img
                  :src="article.fields.image.fields.file.url"
                  alt="Image"
                  class="main-image"
                >
              </figure>
              <div class="media">
                <div class="media-content">
                  <div class="has-text-centered">
                    <p class="title article-title">
                      {{ article.fields.title }}
                    </p>
                  </div>
                  <div class="tags has-addons level-item">
                    <span class="tag is-dark is-rounded">{{ formatDate(article.sys.createdAt) }}</span>
                  </div>
                  <div class="content article-body">
                    <div v-html="$md.render(article.fields.body)"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { createClient } from '~/plugins/contentful.js'
import moment from 'moment'

const client = createClient()
export default {
  async asyncData({ env, params }) {
    return client
      .getEntries({
        content_type: env.CTF_BLOG_POST_TYPE_ID,
        'fields.slug': params.slug
      })
      .then(entries => {
        return {
          article: entries.items[0]
        }
      })
      .catch(e => {
        console.log(e)
        throw new Error(`get entry error`)
      })
  },
  head() {
    return {
      title: this.article.fields.title,
      meta: [
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: this.article.fields.title + ' / YOSHINANIE'
        },
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://yoshinanie.com/post/' + this.article.fields.slug
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.article.fields.title
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.article.fields.image.fields.file.url
        }
      ]
    }
  },
  methods: {
    formatDate(date) {
      const formatted = moment(date).format('YYYY/MM/DD')
      return formatted
    }
  }
}
</script>

<style>
.article {
  margin: 5rem 0;
}
.article-title {
  margin-top: 3rem;
}
.main-image {
  object-fit: cover;
}
</style>
