<template>
  <div class="column is-one-third">
    <div class="card">
      <nuxt-link
        :to="{
          name: 'post-slug',
          params: {
            sys: id,
            title: title,
            slug: slug
          }
        }"
        class="wrapper"
      >
        <div class="card-image">
          <figure class="image is-2by1">
            <img
              :src="url"
              class="card-image"
            >
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="content">
              <h5 class="card-title">
                {{ title }}
              </h5>
              <p class="card-date">
                {{ date }}
              </p>
            </div>
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: ''
    },
    date: {
      type: String,
      default: ''
    },
    url: {
      type: String,
      default: ''
    },
    slug: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
.card-image {
  object-fit: cover;
}
</style>
