<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="soc">
          <a
            href="https://twitter.com/zmh5"
            target="_blank"
            class="button is-info "
          >
            <span class="icon is-small">
              <i class="fab fa-twitter"></i>
            </span>
          </a>
        </div>
        <p class="has-text-grey-light">
          © 2019 YOSHINANIE
        </p>
      </div>
    </div>
  </footer>
</template>

<style>
.footer {
  padding: 1rem 1.5rem;
}
p {
  margin: 8px;
}
</style>
