<template>
  <nav class="navbar is-dark">
    <nuxt-link
      :to="{
              name: 'index'
            }"
      class="home has-text-white"
    >
      <span>YOSHINANIE</span>
    </nuxt-link>
  </nav>
</template>

<style lang="scss" scoped>
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  font-family: 'IBM Plex Mono', monospace;

  &:hover {
    > span {
      color: #d1b29e;
      transition: 0.5s;
    }
  }
}
</style>
