<template>
  <div class="hero-body">
    <div class="container header-title">
      <h1 class="title italic">
        YOSHINANIE
      </h1>
      <figure class="image is-96x96">
        <img src="~/assets/kanioyo.gif">
      </figure>
    </div>
  </div>
</template>

<style>
.header-title {
  display: flex;
  justify-content: space-around;
}
</style>
