<template>
  <section>
    <Title></Title>
    <div class="container">
      <div
        class="tabs is-centered is-fullwidth"
        id="nav"
      >
        <ul>
          <li
            data-target="pane-tech"
            id="tech"
            class="is-active"
          >
            <a @click="toggleTab">
              <span class="icon is-small"><i class="fa fa-desktop"></i></span>
              <span class="italic">TECH</span>
            </a>
          </li>
          <li
            data-target="pane-other"
            id="other"
          >
            <a @click="toggleTab">
              <span class="icon is-small"><i class="fas fa-ghost"></i></span>
              <span class="italic">OTHER</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div
          class="tab-pane is-active"
          id="pane-tech"
        >
          <div class="container main-container">
            <div class="row columns is-multiline">
              <Card
                v-for="post in tech"
                :id="post.sys.id"
                :key="post.sys.id"
                :url="post.fields.image.fields.file.url"
                :slug="post.fields.slug"
                :title="post.fields.title"
                :date="post.sys.createdAt"
              />
            </div>
          </div>
        </div>
        <div
          class="tab-pane"
          id="pane-other"
        >
          <div class="container main-container">
            <div class="row columns is-multiline">
              <Card
                v-for="post in other"
                :id="post.sys.id"
                :key="post.sys.id"
                :url="post.fields.image.fields.file.url"
                :slug="post.fields.slug"
                :title="post.fields.title"
                :date="post.sys.createdAt"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Card from '~/components/card.vue'
import Title from '~/components/title.vue'
import { createClient } from '~/plugins/contentful.js'
import moment from 'moment'

const client = createClient()
export default {
  transition: 'slide-left',
  components: {
    Card,
    Title
  },
  head() {
    return {
      title: 'Top'
    }
  },
  methods: {
    toggleTab: () => {
      document.querySelectorAll('#nav li').forEach(function(navEl) {
        navEl.onclick = function() {
          toggleTab(this.id, this.dataset.target)
        }
      })

      const toggleTab = (selectedNav, targetId) => {
        var navEls = document.querySelectorAll('#nav li')

        navEls.forEach(function(navEl) {
          if (navEl.id == selectedNav) {
            navEl.classList.add('is-active')
          } else {
            if (navEl.classList.contains('is-active')) {
              navEl.classList.remove('is-active')
            }
          }
        })

        const tabs = document.querySelectorAll('.tab-pane')

        tabs.forEach(tab => {
          if (tab.id == targetId) {
            tab.style.display = 'block'
          } else {
            tab.style.display = 'none'
          }
        })
      }
    }
  },
  asyncData({ env, params }) {
    return client
      .getEntries({
        content_type: env.CTF_BLOG_POST_TYPE_ID,
        order: '-sys.createdAt'
      })
      .then(entries => {
        entries.items.forEach(item => {
          item.sys.createdAt = moment(item.sys.createdAt).format('YYYY/MM/DD')
        })
        const tech = entries.items.filter(
          item => item.fields.category === 'tech'
        )
        const other = entries.items.filter(
          item => item.fields.category === 'other'
        )
        return {
          tech: tech,
          other: other
        }
      })
      .catch(() => {
        throw new Error('async data error')
      })
  }
}
</script>

<style>
.italic {
  font-family: 'IBM Plex Mono', monospace;
}
.main-container {
  padding: 16px;
}
section {
  min-height: 100vh;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
}
</style>
